.main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
.has-search .form-control {
    width: auto;
    height: auto;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}